*{
    padding:0;
    margin:0;
    box-sizing: 0;
    text-decoration: none;
    text-transform: capitalize;
}

.nav{
    display: flex;
justify-content: space-around;
background-color: #2f2f2f;
color: white;
margin: 10px 0px;
height: 40px;
align-items: center;
}
.nav2{
    display: flex;
    gap: 30px;
}
.nav2 a{
    color: white;
}
.nav2 a:hover{
    color: aqua;
}
.grid{
    display: grid;
grid-template-rows: repeat(2,1fr);
grid-template-columns: repeat(2,1fr);
}
.content{
        /* border: 2px solid black; */
width: 18rem;
height: 24rem;
margin: 4rem 12rem;
text-align: center;
box-shadow: 1px 1px 22px;
/* border-radius: 0px; */
}
.content:hover{
        /* border: 2px solid black; */
width: 18.1rem;
height: 24.1rem;
margin: 4rem 12rem;
text-align: center;
box-shadow: 1px 1px 40px;
/* border-radius: 0px; */}

.image_head{
    line-height: 36px;
    font-size: 1.5rem;
}
button{
    font-size: 1rem;
color: white;
background-color: #38c138;
border: none;
height: 2.3rem;
width: 6rem;
border-radius: 6px;
}